<link rel="stylesheet" href="styles/bookElement.css">
<div class="myContainer">
  <% function getDate(curDate) { if (curDate==null) { return '' ; } let date=curDate; let year=date.getFullYear(); let
    month=date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1; let day=date.getDate() < 10
    ? '0' + (date.getDate()) : date.getDate(); return year + '-' + month + '-' + day; } let i=0; let bookAuthors;
    books.forEach(book=> {
    bookAuthors = authors.filter(author => author.a_bl_id === book.bl_id).map(item => item.a_name).join(', ');
    %>

    <div class="bookElement">
      <div class="bookImg">
        <img src="<%= book.bl_img_link %>">
      </div>
      <div class="bTitle">
        <%= book.bl_title %>
      </div>
      <div class="bAuthor">by <%= bookAuthors %>
      </div>
      <div class="bIsbn">ISBN: <%= book.bl_isbn %>
      </div>
      <div class="bPublisher">Publisher: <%= book.bl_publisher %>
      </div>
      <div class="bPublished">Published Date: <%= getDate(book.bl_published_date) %>
      </div>
      <div class="bPages">Pages: <%= book.bl_pages %>
      </div>
      <% if (book.bl_global_rating==null) { %>
        <div class="bRating">Global Rating: No Rating found</div>
      <% } else { %>
        <div class="bRating">Global Rating: <%= book.bl_global_rating %> / 5</div>
      <% } %>

      <div class="bUpdateForm">
        <form method="post" action="/update-book">
          <div class="bUpdateFormGrid">
            <input type="hidden" name="id" value="<%= book.bl_id %>">
            <div class="bMyNotes"><textarea name="key_notes"
                placeholder="Key Notes..."><%= book.bl_key_notes %></textarea></div>
            <div class="bReadStart">Started Reading: <input type="date" name="reading_start"
                value="<%= getDate(book.bl_reading_start) %>"></div>
            <div class="bReadEnd">Finished Reading: <input type="date" name="reading_end"
                value="<%= getDate(book.bl_reading_end) %>"></div>

            <div class="bUpdate">
              <input type="submit" value="Update">
            </div>
          </div>
        </form>
      </div>

      <div class="bDelete">
        <form method="post" action="/delete-book">
          <input type="hidden" name="id" value="<%= book.bl_id %>">
          <input type="submit" value="Delete">
        </form>
      </div>
      <div class="bMoreInfo"><a href="<%= book.bl_info_link %>" target="_blank">More Infos</a></div>

    </div>
  <% i++; }); %>
</div>