<%- include('partials/header'); %>
  

  <title>Books</title>
</head>
<body>
  <%- include ('partials/search-book'); %>
  <h1>Books</h1>
  <%
    if (type == 'bookSearchResults'){
  %>
<%- include('partials/bookSearchResults') %>
  <%
    } else if (type == 'finishedBooks') {
  %>
<%- include('partials/finishedBooks'); %>
  <%
    }
  %>

<%- include('partials/footer'); %>