<%- include('partials/header'); %>
  

  <title>Read Books</title>
</head>
<body>
  <%- include ('partials/search-book'); %>
  <h1>Read Books</h1>
  Hello World!
  <a href="/">Home</a>
  <%
    if (type == 'bookSearchResults'){
  %>
<%- include('partials/bookSearchResults') %>
  <%
    } else if (type == 'readBooks') {
  %>
<%- include('partials/readBooks'); %>
  <%
    }
  %>

<%- include('partials/footer'); %>